[package]
name = "cosmic-osd"
version = "0.1.0"
edition = "2024"
license = "GPL-3.0-or-later"

[dependencies]
clap = { version = "4.5.40", features = ["derive"] }
env_logger = "0.11.8"
futures = "0.3.31"
i18n-embed = { version = "0.15", features = [
    "fluent-system",
    "desktop-requester",
] }
i18n-embed-fl = "0.9"
libcosmic = { git = "https://github.com/pop-os/libcosmic", default-features = false, features = [
    "autosize",
    "tokio",
    "wayland",
    "multi-window",
    "winit",
    "single-instance",
] }
libpulse-binding = "2.30.1"
log = "0.4.27"
logind-zbus = "5.3.2"
rust-embed = "8.7.2"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tokio = { version = "1.46.1", features = ["process"] }
tokio-stream = "0.1.17"
uzers = "0.12.1"
zbus = { version = "5.7.1", default-features = false, features = ["tokio"] }
cosmic-settings-subscriptions = { git = "https://github.com/pop-os/cosmic-settings-subscriptions" }
#[patch.'https://github.com/pop-os/libcosmic']
#libcosmic = { path = "../../pop/libcosmic" }
#cosmic-config = { path = "../../pop/libcosmic/cosmic-config" }
#cosmic-theme = { path = "../../pop/libcosmic/cosmic-theme" }
#iced_futures = { path = "../../pop/libcosmic/iced/futures" }

[profile.release]
codegen-units = 1
lto = "thin"
opt-level = "z"
panic = "abort"


[patch.'https://github.com/pop-os/cosmic-protocols']
cosmic-protocols = { git = "https://github.com/pop-os/cosmic-protocols//", rev = "1425bd4" }
cosmic-client-toolkit = { git = "https://github.com/pop-os/cosmic-protocols//", rev = "1425bd4" }

[patch."https://github.com/smithay/client-toolkit.git"]
sctk = { package = "smithay-client-toolkit", version = "=0.19.2" }
