[package]
name = "cosmic-osd"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-or-later"

[dependencies]
env_logger = "0.11.3"
futures = "0.3.30"
i18n-embed = { version = "0.14", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.8"
libcosmic = { git = "https://github.com/pop-os/libcosmic", default-features = false, features = ["tokio", "wayland"] }
libpulse-binding = "2.28.1"
log = "0.4.21"
once_cell = "1.18.0"
rust-embed = "8.0.0"
rustix = "0.38.31"
serde = { version = "1.0.140", features = ["derive"] }
tokio = { version = "1.23.0", features = ["process"] }
tokio-stream = "0.1.11"
uzers = "0.11.3"
zbus = { version = "4.1.2", default-features = false, features = ["tokio"] }
